@font-face {
  font-family: 'AdventPro';
  src:url('AdventPro-SemiBold.ttf');}


body {
  margin: 0;
  background-color:#F4F2F2;
  color: #211F1B;
  font-family: 'AdventPro';
  text-align:center;
}


header{
  background: url(img.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  height: 300px;
  font-size: 30px;
}

.name {
  width: 175px;
  padding: 0px 100px;
  float: right;
}
.join {
  width: 175px;
  clear: both;
  float: right;
  margin-right: 95px;
  text-transform: uppercase;
}
.join a:link {
  text-decoration: none;
  color: #211F1B;
}
.join a:visited {
  text-decoration: none;
  color: #211F1B;
}
.join a:hover {
  text-decoration: none;
  border: solid #211F1B 3px;
  border-radius: 3px;
  padding: 5px 20px;
}


div h2 {
  margin: 0;
  padding: 15px 0px;
  background-color: #F7AC00;
}


.list ul{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}
.list{
  margin: 50px;
}
.list li{
  margin: 15px 0px;
}
.year {
  display: inline-block;
}
.degree {
  display: inline-block;
}
.list div{
  display: inline-block;
  margin: 0px 50px;
  text-align: left;
}


.ex {
  text-align: left;
  width: 500px;
  margin: 35px;
}
.xp {
  display: inline-block;
  margin: 15px;
}

#contact {
  margin: 0;
  padding: 15px 0px;
  background-color: #F7AC00;
}
footer div p {
  display: inline-block;
  margin: 50px 150px;
}
